header {
    padding: 1rem;
    background: #191a1b;
    text-align: center;
    color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #353535;
    color: #ffffff;
}

nav a {
    color: #99c3ff;
    padding-left: 4rem;
    padding-right: 4rem;
}

nav {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: #636363;
}

main {
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 10rem;
    padding-right: 4rem;
}

p{
    text-indent: 2ch;
    color: #ffffff;
    margin-bottom: 2rem;
}

article{
    padding-left: 4ch;
}

ul{
    padding-left: 1rem;
}


footer {
    text-align: center;
    background: #191a1b;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}